<!-- <style>
    .dashboard-card {
    border-radius: 10px;
    color: #fff;
}

.bg-stock { background: #2b6777; }
.bg-sales { background: #52ab98; }
.bg-profit { background: #3a7d44; }

.card h6 {
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.9;
}

</style> -->
<div >
    <h4 class="mb-3">Dashboard</h4>
    <div class="row">

        <div class="col-md-3">
            <div class="card shadow-sm p-3">
                <small>Total Sales</small>
                <h4 class="text-success">
                    ₹ {{ summary.total_sales | number:2 }}
                </h4>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm p-3">
                <small>Total Purchase</small>
                <h4 class="text-primary">
                    ₹ {{ summary.total_purchase | number:2 }}
                </h4>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm p-3">
                <small>Profit</small>
                <h4 ng-class="summary.profit>=0?'text-success':'text-danger'">
                    ₹ {{ summary.profit | number:2 }}
                </h4>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm p-3">
                <small>Stock Value</small>
                <h4>₹ {{ summary.stock_value | number:2 }}</h4>
            </div>
        </div>

    </div>
    <div class="row mt-4">

        <div class="col-md-6">
            <h6>Monthly Sales</h6>
            <canvas id="salesChart"></canvas>
        </div>

        <div class="col-md-6">
            <h6>Monthly Profit</h6>
            <canvas id="profitChart"></canvas>
        </div>

    </div>

</div>
