<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-body text-center">
                <h5>Sales</h5>
                <a href="#!/sales" class="btn btn-light btn-sm">Go</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-body text-center">
                <h5>Stock Ledger</h5>
                <a href="#!/ledger" class="btn btn-light btn-sm">View</a>
            </div>
        </div>
    </div>
</div>
