
<div class="container mt-4">
    <h3>Stock Ledger</h3>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Type</th>
            <th>Qty In</th>
            <th>Qty Out</th>
            <th>Wt In</th>
            <th>Wt Out</th>
            <th>Balance Qty</th>
            <th>Balance Wt</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="l in ledgers">
            <td>{{ l.created_at | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ l.product.name }}</td>
            <td>
                <span class="badge bg-success" ng-if="l.type=='purchase'">Purchase</span>
                <span class="badge bg-danger" ng-if="l.type=='sale'">Sale</span>
            </td>
            <td>{{ l.qty_in }}</td>
            <td>{{ l.qty_out }}</td>
            <td>{{ l.weight_in }}</td>
            <td>{{ l.weight_out }}</td>
            <td>{{ l.balance_qty }}</td>
            <td>{{ l.balance_weight }}</td>
        </tr>
        </tbody>
    </table>
</div>
