<div class="sidebar" 
     ng-if="isLoggedIn">

    <ul class="menu">
        <li ng-class="{active: isActive('/dashboard')}">
            <a href="#!/dashboard">Dashboard</a>
        </li>

        <li ng-class="{active: isActive('/products')}">
            <a href="#!/products">Products</a>
        </li>

        <li ng-class="{active: isActive('/categories')}">
            <a href="#!/category">Categories</a>
        </li>

        <li ng-class="{active: isActive('/parties')}">
            <a href="#!/parties">Customers / Suppliers</a>
        </li>

        <li ng-class="{active: isActive('/purchases')}">
            <a href="#!/purchases">Purchases</a>
        </li>

        <li ng-class="{active: isActive('/sales')}">
            <a href="#!/sales">Sales</a>
        </li>

        <li ng-class="{active: isActive('/payment-list')}">
            <a href="#!/payment-list">Payments</a>
        </li>

        <li ng-class="{active: isActive('/stockledger')}">
            <a href="#!/stockledger">Stock Ledger</a>
        </li>
        <li ng-class="{active: isActive('/stock-valuation')}">
            <a href="#!/stock-valuation">
                <i class="fa fa-balance-scale"></i> Stock Valuation
            </a>
        </li>

        <li>
            <a href="#!/category-valuation">
                <i class="fa fa-folder"></i> Category Valuation
            </a>

        </li>
    </ul>

</div>
